
<div class="container my-5">
    <!-- Copyright -->
    <div class="text-center text-white p-3" style="background-color: #212529;">
      © 2022 Copyright: Personal Portfolio Site
    </div>
    <!-- Copyright -->
  </footer>
  
</div>
<!-- End of .container -->


  </body> </html>