<%- include('partials/header'); %>
<!-- About -->
<section id="about" class="about-area pt-115">
	<div class="container">
		<div class="row justify-content-center">
			<div class="col-lg-9">
				<div class="about-title text-center wow fadeInUp">
					<h3 class="welcome">Kanika Aggarwal</h3>
					<br> <img src="images/Photograph.jpg" class="img-thumbnail"
						alt="Responsive image" style="max-width: 40%;">
					<h5>Hi I am from Chandigarh, India. I have done my btech in
						Information technology from DIT Dehradun.
						Competent and diligent professional offering an experience
						of 8+ years in all software testing concepts i.e. prepare & review
						of Test Cases, Test Estimation, Test Approach, Test Metrics,
						Traceability Matrix, Test results and Test reports and providing
						technical support; currently spearheading as Senior Test Engineer.<a
							class="nav-link" aria-current="page" target="_blank"
							href="/files/Kanika Aggarwal_Resume.pdf">Download my Resume.</a>
					</h5>
				</div>
				<!-- header hero image -->
			</div>
		</div>
	</div>
	<!-- container -->
</section>
<!-- About -->
<%- include('partials/footer'); %>


