<%- include('partials/header'); %>
<section id="about" class="about-area pt-115">
	<div class="container">
		<div class="row justify-content-center">
			<div class="col-lg-9">
				<div class="about-title text-center wow fadeInUp">
					<h3 class="welcome">Contact Details</h3>
					<br>
					<h5>Kanika Aggarwal</h5>
					<h5><a href="mailto:kanika19libra@gmail.com" target="_blank">Email Me: kanika19libra@gmail.com</a></h5>
					<h5><a href="https://www.linkedin.com/in/kanika-aggarwal-57120170">LinkedIn</a></h5>
				</div>
				<!-- header hero image -->
			</div>
		</div>
	</div>
	<!-- container -->
</section>

<%- include('partials/footer'); %>


