<%- include('partials/header'); %>
<!-- contact -->
<section id="about" class="about-area pt-115">
	<div class="container">
					<h3 class="welcome">Contact Details</h3>
					
					<form action="/">
  <div class="mb-3">
    <label for="exampleInputEmail1" class="form-label">First Number</label>
    <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
  </div>
  <div class="mb-3">
    <label for="exampleInputPassword1" class="form-label">Last Name</label>
    <input type="password" class="form-control" id="exampleInputPassword1">
  </div>
  <div class="mb-3">
    <label for="exampleInputEmail1" class="form-label">Contact Number</label>
    <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
  </div>
   <div class="mb-3">
    <label for="exampleInputEmail1" class="form-label">Email address</label>
    <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
    <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div>
  </div>
   <div class="mb-3">
    <label for="exampleInputEmail1" class="form-label">Message</label>
    <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
  </div>
  
  <button type="submit" class="btn btn-primary">Submit</button>
</form>
					
					<br>
					<h5>Kanika Aggarwal</h5>
					<h5><a href="mailto:kanika19libra@gmail.com" target="_blank">Email Me: kanika19libra@gmail.com</a></h5>
					<h5><a href="https://www.linkedin.com/in/kanika-aggarwal-57120170" target="_blank">LinkedIn</a></h5>
				</div>
				
		
	<!-- container -->
</section>
<!-- contact -->
<%- include('partials/footer'); %>


