<%- include('partials/header'); %>
<section id="about" class="about-area pt-115">
	<div class="container">
		<div class="row justify-content-center">
			<div class="col-lg-9">
				<div class="about-title text-center wow fadeInUp">
					<h3 class="welcome">
						WELCOME To MY PORTFOLIO. <a class="nav-link" aria-current="page"
							href="/about">About Me.</a>
					</h3>
					<h5 class="title">
						<span>To accelerate the world's transition to sustainable
							energy.</span>
					</h5>
				</div>
			</div>
		</div>
	</div>
	<!-- container -->
</section>

<%- include('partials/footer'); %>


