<%- include('partials/header'); %>
<!-- projects -->
<div class="container">
	<div class="row justify-content-center">
		<div _ngcontent-jvo-c69="" class="col-lg-9">

			<h2 _ngcontent-jvo-c69="" class="mb-4">Below are the projects that I have worked upon:</h2>

			<h3 _ngcontent-jvo-c69="" class="mb-4">Project #1</h3>
			<h4 _ngcontent-jvo-c69="" class="mb-4">Title : Ondot</h4>
			<h4 _ngcontent-jvo-c69="" class="mb-4">Client : Ondot, USA</h4>
			<h4 _ngcontent-jvo-c69="" class="mb-4">Role : Quality Analyst</h4>
			
			<img src="images/project-1.jpeg" class="img-thumbnail"
						alt="Responsive image" style="max-width: 40%;">
			
			<p _ngcontent-jvo-c69="" class="lead mb-4"><h5 _ngcontent-jvo-c69="" class="mb-4">Application Overview:
			
			</h5>
			Ondot is a digital card services platform that drives cardholder
			engagement. From community issuers to top global banks, the platform
			enables in-the-moment convenience, control and transparency for
			credit and debit cards. Rather than just adding features to a banking
			app, the technology evolved into creating better user experiences
			around the most common interaction customers have with their bank:
			payments. More importantly, it’s engineered to be fast and easy for
			issuers to deliver quickly, providing the immediacy that customers
			expect, and issuers need.
			</p>
			<h5 _ngcontent-jvo-c69="" class="mb-4">Roles and
				Responsibilities:</h5>
			<ul _ngcontent-jvo-c69="" class="fa-ul mb-5">
				<li _ngcontent-jvo-c69="" class="mb-3"><span
					_ngcontent-jvo-c69="" class="fa-li"><fa-icon
							_ngcontent-jvo-c69="" class="ng-fa-icon text-primary-soft">
						</fa-icon></span>Creating the test data using Outside View for Card services and
					using Mainframe for Issuer Solutions.</li>
				<li _ngcontent-jvo-c69="" class="mb-3"><span
					_ngcontent-jvo-c69="" class="fa-li"><fa-icon
							_ngcontent-jvo-c69="" class="ng-fa-icon text-primary-soft">
						</fa-icon></span>Tested various transactions such as Recurring, ATM, Instore etc.
					for both credit as well as Debit using mainframe and VTS.</li>
				<li _ngcontent-jvo-c69="" class="mb-3"><span
					_ngcontent-jvo-c69="" class="fa-li"><fa-icon
							_ngcontent-jvo-c69="" class="ng-fa-icon text-primary-soft">
						</fa-icon></span>Verified logs and API calls in putty.</li>


				<li _ngcontent-jvo-c69="" class="mb-3"><span
					_ngcontent-jvo-c69="" class="fa-li"><fa-icon
							_ngcontent-jvo-c69="" class="ng-fa-icon text-primary-soft">
						</fa-icon></span>Tested mobile app used for payment system using simulator.</li>

				<li _ngcontent-jvo-c69="" class="mb-3"><span
					_ngcontent-jvo-c69="" class="fa-li"><fa-icon
							_ngcontent-jvo-c69="" class="ng-fa-icon text-primary-soft">
						</fa-icon></span>Tested various features such as CFC, Spend Insights, One-time
					payment available for the users.</li>

				<li _ngcontent-jvo-c69="" class="mb-3"><span
					_ngcontent-jvo-c69="" class="fa-li"><fa-icon
							_ngcontent-jvo-c69="" class="ng-fa-icon text-primary-soft">
						</fa-icon></span>Prepared test cases in test rail and logged defects in Jira.</li>

			</ul>

		</div>

		<div _ngcontent-jvo-c69="" class="col-lg-9">
			<h3 _ngcontent-jvo-c69="" class="mb-4">Project #2</h3>
			<h4 _ngcontent-jvo-c69="" class="mb-4">Title : Avaya</h4>
			<h4 _ngcontent-jvo-c69="" class="mb-4">Client : Avaya, USA</h4>
			<h4 _ngcontent-jvo-c69="" class="mb-4">Role : Quality Analyst</h4>
			<img src="images/project-2.jpeg" class="img-thumbnail"
						alt="Responsive image" style="max-width: 40%;">
			<p _ngcontent-jvo-c69="" class="lead mb-4">
			<h5 _ngcontent-jvo-c69="" class="mb-4">Application Overview:</h5>
			Avaya Inc. is a privately held global provider of business
			communications and collaboration systems. This enterprise
			communications leader wanted to improve forecasting and its
			order-to-cash process. Their Cumbersome and unwieldy legacy on
			premise solution resulted in low user adoption rates. They needed
			better support for channel partners. This requires integration with
			multiple systems, including a unified customer master.<br>This
			Project involved Development, Support, Software Testing and
			Enhancements based on Soap / Rest APIs Integration. It was majorly
			around the telecom business where in integrations with different
			systems due to data dependency was critical. By implementing the
			FLAME test Script automation, we accelerated average QA testing
			turn-around time by 25% or more, allowing client to accept more
			testing projects without increasing staff.
			</p>
			<h5 _ngcontent-jvo-c69="" class="mb-4">Roles and
				Responsibilities:</h5>
			<ul _ngcontent-jvo-c69="" class="fa-ul mb-5">
				<li _ngcontent-jvo-c69="" class="mb-3"><span
					_ngcontent-jvo-c69="" class="fa-li"><fa-icon
							_ngcontent-jvo-c69="" class="ng-fa-icon text-primary-soft">
						</fa-icon></span>Provide techno-functional testing support for complex application
					interfaces</li>
				<li _ngcontent-jvo-c69="" class="mb-3"><span
					_ngcontent-jvo-c69="" class="fa-li"><fa-icon
							_ngcontent-jvo-c69="" class="ng-fa-icon text-primary-soft">
						</fa-icon></span>Designing of Automation scripts through Java programming using
					Selenium.</li>
				<li _ngcontent-jvo-c69="" class="mb-3"><span
					_ngcontent-jvo-c69="" class="fa-li"><fa-icon
							_ngcontent-jvo-c69="" class="ng-fa-icon text-primary-soft">
						</fa-icon></span>Interacting with Business team and process owners</li>


				<li _ngcontent-jvo-c69="" class="mb-3"><span
					_ngcontent-jvo-c69="" class="fa-li"><fa-icon
							_ngcontent-jvo-c69="" class="ng-fa-icon text-primary-soft">
						</fa-icon></span>Working on new requirements in co-ordination with client</li>

				<li _ngcontent-jvo-c69="" class="mb-3"><span
					_ngcontent-jvo-c69="" class="fa-li"><fa-icon
							_ngcontent-jvo-c69="" class="ng-fa-icon text-primary-soft">
						</fa-icon></span>Coordinate with offshore and onsite team</li>

				<li _ngcontent-jvo-c69="" class="mb-3"><span
					_ngcontent-jvo-c69="" class="fa-li"><fa-icon
							_ngcontent-jvo-c69="" class="ng-fa-icon text-primary-soft">
						</fa-icon></span>Liaising with delivery managers, business consultants &development
					team.</li>

				<li _ngcontent-jvo-c69="" class="mb-3"><span
					_ngcontent-jvo-c69="" class="fa-li"><fa-icon
							_ngcontent-jvo-c69="" class="ng-fa-icon text-primary-soft">
						</fa-icon></span>Participating in project meetings and providing weekly status
					reports</li>

				<li _ngcontent-jvo-c69="" class="mb-3"><span
					_ngcontent-jvo-c69="" class="fa-li"><fa-icon
							_ngcontent-jvo-c69="" class="ng-fa-icon text-primary-soft">
						</fa-icon></span>Create and execute test plans, cases, and scripts</li>

				<li _ngcontent-jvo-c69="" class="mb-3"><span
					_ngcontent-jvo-c69="" class="fa-li"><fa-icon
							_ngcontent-jvo-c69="" class="ng-fa-icon text-primary-soft">
						</fa-icon></span>Involved in complete quality assurance, testing, maintenance, and
					support.</li>

			</ul>

		</div>


		<div _ngcontent-jvo-c69="" class="col-lg-9">
			<h3 _ngcontent-jvo-c69="" class="mb-4">Project #3</h3>
			<h4 _ngcontent-jvo-c69="" class="mb-4">Title : Interact</h4>
			<h4 _ngcontent-jvo-c69="" class="mb-4">Client : Schlumberger</h4>
			<h4 _ngcontent-jvo-c69="" class="mb-4">Role : Senior Test
				Engineer</h4>
			<p _ngcontent-jvo-c69="" class="lead mb-4">
			<h5 _ngcontent-jvo-c69="" class="mb-4">Application Overview:</h5>
			Schlumberger is a privately held global provider of business
			communications and collaboration systems. This enterprise
			communications leader wanted to improve forecasting and its
			order-to-cash process. Their Cumbersome and unwieldy legacy on
			premise solution resulted in low user adoption rates. They needed
			better support for channel partners. This requires integration with
			multiple systems, including a unified customer master.<br>This
			Project involved Development, Support, Software Testing and
			Enhancements based on Soap / Rest APIs Integration. It was majorly
			around the telecom business where in integrations with different
			systems due to data dependency was critical. By implementing the
			FLAME test Script automation, we accelerated average QA testing
			turn-around time by 25% or more, allowing client to accept more
			testing projects without increasing staff.
			</p>
			<h5 _ngcontent-jvo-c69="" class="mb-4">Roles and
				Responsibilities:</h5>
			<ul _ngcontent-jvo-c69="" class="fa-ul mb-5">
				<li _ngcontent-jvo-c69="" class="mb-3"><span
					_ngcontent-jvo-c69="" class="fa-li"><fa-icon
							_ngcontent-jvo-c69="" class="ng-fa-icon text-primary-soft">
						</fa-icon></span>Working for Interact product and writing Test case for every new
					CR’s related to its functionality.</li>
				<li _ngcontent-jvo-c69="" class="mb-3"><span
					_ngcontent-jvo-c69="" class="fa-li"><fa-icon
							_ngcontent-jvo-c69="" class="ng-fa-icon text-primary-soft">
						</fa-icon></span>Performing Regression testing on the new build using Selenium
					WebDriver.</li>
				<li _ngcontent-jvo-c69="" class="mb-3"><span
					_ngcontent-jvo-c69="" class="fa-li"><fa-icon
							_ngcontent-jvo-c69="" class="ng-fa-icon text-primary-soft">
						</fa-icon></span>Efficient in using TestNG framework for generation of Reports.</li>


				<li _ngcontent-jvo-c69="" class="mb-3"><span
					_ngcontent-jvo-c69="" class="fa-li"><fa-icon
							_ngcontent-jvo-c69="" class="ng-fa-icon text-primary-soft">
						</fa-icon></span>Efficient in designing automated test script using Selenium
					through Java programming.</li>

				<li _ngcontent-jvo-c69="" class="mb-3"><span
					_ngcontent-jvo-c69="" class="fa-li"><fa-icon
							_ngcontent-jvo-c69="" class="ng-fa-icon text-primary-soft">
						</fa-icon></span>Designed Data Driven Framework from the scratch which is being
					used to test Regression Suite after each new build.</li>

				<li _ngcontent-jvo-c69="" class="mb-3"><span
					_ngcontent-jvo-c69="" class="fa-li"><fa-icon
							_ngcontent-jvo-c69="" class="ng-fa-icon text-primary-soft">
						</fa-icon></span>Efficient in using Page Object Model in writing Scripts to
					increase the readability and reusability of Scripts.</li>

				<li _ngcontent-jvo-c69="" class="mb-3"><span
					_ngcontent-jvo-c69="" class="fa-li"><fa-icon
							_ngcontent-jvo-c69="" class="ng-fa-icon text-primary-soft">
						</fa-icon></span>Leading the automation scripts design and planning for the team.</li>

				<li _ngcontent-jvo-c69="" class="mb-3"><span
					_ngcontent-jvo-c69="" class="fa-li"><fa-icon
							_ngcontent-jvo-c69="" class="ng-fa-icon text-primary-soft">
						</fa-icon></span>Designing, Reviewing and Execution of the test scripts as per the
					Regression Test cases.</li>

				<li _ngcontent-jvo-c69="" class="mb-3"><span
					_ngcontent-jvo-c69="" class="fa-li"><fa-icon
							_ngcontent-jvo-c69="" class="ng-fa-icon text-primary-soft">
						</fa-icon></span>Verifying the Automated Test Result and Logging the Defect in JIRA
					along with RTC and updating status to the senior management.</li>

			</ul>

		</div>

	</div>
</div>
<!-- projects -->

<%- include('partials/footer'); %>


