<%- include('partials/header'); %>
<section id="about" class="about-area pt-115">
	<div class="container">
		<div class="row justify-content-center">
			<div class="col-lg-9">
				<div class="about-title text-center wow fadeInUp">
					<h3 class="welcome">
						Project Details. 
					</h3>
					<h5 class="title">
						<span>Project Title : Ondot <br>Client : Ondot, USA <br>Role : Quality Analyst
<br>Application Overview: Ondot is a digital card services platform that drives cardholder engagement. From community issuers to top global banks, the platform enables in-the-moment convenience, control and transparency for credit and debit cards. Rather than just adding features to a banking app, the technology evolved into creating better user experiences around the most common interaction customers have with their bank: payments. More importantly, it’s engineered to be fast and easy for issuers to deliver quickly, providing the immediacy that customers expect, and issuers need.
<br>Roles and Responsibilities:  <br>1. Creating the test data using Outside View for Card services and using Mainframe for Issuer Solutions.
<br>2. Tested various transactions such as Recurring, ATM, Instore etc. for both credit as well as Debit using mainframe and VTS. <br>3. Verified logs and API calls in putty.  <br>4. Tested mobile app used for payment system using simulator.  <br>5. Tested various features such as CFC, Spend Insights, One-time payment available for the users.<br>6. Prepared test cases in test rail and logged defects in Jira.</span>
					</h5>
				</div>
			</div>
		</div>
	</div>
	<!-- container -->
</section>

<%- include('partials/footer'); %>


