<%- include('partials/header'); %>
<!-- services -->
<div class="container">
	<div class="row justify-content-center">
		<div _ngcontent-jvo-c69="" class="col-lg-9">

			<h2 _ngcontent-jvo-c69="" class="mb-4">Services</h2>

			
			<ul _ngcontent-jvo-c69="" class="fa-ul mb-5">
				<li _ngcontent-jvo-c69="" class="mb-3"><span
					_ngcontent-jvo-c69="" class="fa-li"><fa-icon
							_ngcontent-jvo-c69="" class="ng-fa-icon text-primary-soft">
						</fa-icon></span>Api Automation Testing using Cucumber Framework</li>
				<li _ngcontent-jvo-c69="" class="mb-3"><span
					_ngcontent-jvo-c69="" class="fa-li"><fa-icon
							_ngcontent-jvo-c69="" class="ng-fa-icon text-primary-soft">
						</fa-icon></span>Web Application Automation Testing Using Selenium</li>
				<li _ngcontent-jvo-c69="" class="mb-3"><span
					_ngcontent-jvo-c69="" class="fa-li"><fa-icon
							_ngcontent-jvo-c69="" class="ng-fa-icon text-primary-soft">
						</fa-icon></span>Test Cases automated report generation</li>


				<li _ngcontent-jvo-c69="" class="mb-3"><span
					_ngcontent-jvo-c69="" class="fa-li"><fa-icon
							_ngcontent-jvo-c69="" class="ng-fa-icon text-primary-soft">
						</fa-icon></span>Mobile App Manual Testing</li>


			</ul>

		</div>

	</div>
</div>
<!-- services -->
<%- include('partials/footer'); %>


